# Ignore the data folders
stock_db/data
stock_db/test.txt

# Ignore the virtual environment
stock_analysis_venv/

# Ignore all API keys and secrets
alpha_vantage_api/__pycache__
alpha_vantage_api/stocks
alpha_vantage_api/api_key.txt

#Ignore db password
querying_using_sqlalchemy/db_password.txt
querying_using_sqlalchemy/csv

#alpaca
alpaca_api/

#polygon
polygon_api/ohlcv.csv
polygon_api/ohlcv
polygon_api/key.txt
